body {
  margin: 0;
  padding: 0;
  background-color: #fffefc;
  font-family: Inter;
}

.container {
  max-width: 700px;
  justify-content: center;
}

#proj-header {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.proj-title {
  font-size: 21.81;
}

#location {
  margin-bottom: 0;
  margin-top: 48px;
}

#date {
  left: 22px;
  position: relative;
  font-size: 14.81px;
  color: #828282;
}

#temperature {
  font-size: 37.78px;
  font-weight: 500;
}

#temp-mode {
  color: #ff7c73;
  font-size: 18px;
}

#img-weather {
  max-height: 200px;
}

.card {
  margin-top: 25px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
}

.pet-tips {
  margin-top: 37px;
}

.pet-tips-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 19px;
}

.pet-tips-subtitle {
  font-size: 16px;
  font-weight: 700;
  margin: 14px 0;
}

#message {
  font-size: 16px;
  text-align: justify;
}